mix_dataset
2026_new_experiment/datasets
2026_new_experiment/artifacts_full_global
2026_new_experiment/artifacts_10k
2026_new_experiment/final_deduped_datasets
# 不保存的文件类型
*.log
*.tmp
*.cache
*.bak
*.swp
*.bin
*.pdf
*.html
*.aux
*.out
*.toc
*.gz
*.zip
*.tar
*.rar
*.7z
*.exe
*.csv
*.json
*.wav
*.pyc
*.npy
*.txt
audio/test.py
*.pkl
*.jpg
*.jpeg
*.png
*.arrow
*.pickle
mix_dataset_10k
evaluation
mix_dataset_eval
mix_dataset
artifacts
outputs
tests
test_dataset
*.yaml
*.jsonl
*.txt